<div class="shipments-list">
    <ng-container *ngIf="(shipments$ | async) as shipments; else noData">
        <ng-container *ngIf="shipments.length > 0; else noData">
            <app-list-shipment *ngFor="let shipment of shipments"
                           [shipment]="shipment"
                           [statuses]="statuses"
                           (editShipment)="editShipment(shipment.id)">
            </app-list-shipment>
        </ng-container>
    </ng-container>
    <ng-template #noData>
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <p class="text-center h4">No data available</p>
        </div>
    </ng-template>
    <button class="btn btn-primary btn-lg mt-4" (click)="addShipment()">Add Shipment</button>
</div>