<div class="products-list">
    <ng-container *ngIf="productListService.products() as products; else noData">
        <ng-container *ngIf="products.length > 0; else noData">
            <app-list-product *ngFor="let product of products"
                           [product]="product"
                           (editProduct)="editProduct(product.id)">
            </app-list-product>
        </ng-container>
    </ng-container>
    <ng-template #noData>
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <p class="text-center h4">No data available</p>
        </div>
    </ng-template>
    <button class="btn btn-primary btn-lg mt-4" (click)="addProduct()">Add Product</button>
</div>